
{{!--  тестовая форма --}}
<div class="registr">
  <form action="/user/newUser" method="post">
    <lable>Ваше имя</lable><br>
    <input type="text" name="name" value="{{name}}"><br><br>
    <lable>Ваш email</lable><br>
    <input type="email" name="email" value="{{email}}"><br><br>
    <lable>Ваш город</lable><br>
    <input type="text" name="location" value="{{location}}"><br><br>
    <lable>Пароль</lable><br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Зарегистрироваться">
  </form>
</div>
