
{{!--  тестовая форма --}}
<div class="registr">
  <form action="/register/newUser" method="post">
    <lable>Ваше имя</lable><br>
    <input type="text" name="name"><br><br>
    <lable>Ваш email</lable><br>
    <input type="email" name="email"><br><br>
    <lable>Пароль</lable><br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Зарегистрироваться">
  </form>
</div>
